body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #000 !important; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.validation_form {
  max-width: 360px;
  margin: 50px auto;
  padding: 20px;
  background-color: #15172b;
  border-radius: 20px;
  height: 400px;
}
.section-title {
  text-align: center;
  color: #fff;
}
.form-control,
.form-select {
  margin-bottom: 6px;
  background-color: #303245 !important;
}
.pagination {
  justify-content: center;
}
.pagination span {
  padding: 10px;
  border: 1px solid;
  cursor: pointer;
}
@media screen and (max-width: 550px) and (min-width: 300px) {
  .section-title {
    color: red;
  }
  .validation_form {
    height: 320px;
  }
}

.data_list {
  list-style-type: none;
  margin: 0px;
}
.bolder li {
  font-weight: 700;
}
.data_list li {
  width: 130px;
  display: inline-block;
  padding: 10px;
  border: 1px solid #000;
}
#countries {
  width: 50%;
  text-align: center;
  margin: 0px auto;
}
.navbar {
  display: flex;
  background-color: #000;
  list-style-type: none;
}
.navbar a {
  color: #fff;
  text-decoration: none;
}
/* @mixin important-text {
} */
.loader,
.error {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}
table,
th,
td {
  width: 25%;
  border: 1px solid black;
  border-collapse: collapse;
}

.customerTable th {
  background-color: grey;
}
.customerTable tbody tr:nth-child(even) {
  background-color: rgba(150, 212, 212, 0.4);
}
.customerTable tbody tr:nth-child(odd) {
  background-color: rgba(56, 56, 56, 0.4);
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.country_names_container {
  font-family: sans-serif;
  text-align: center;
  display: flex;
}
.country_names,
.state_names {
  padding: 10px;
  text-align: left;
  flex: 1;
  border: 1px solid #ddd;
}

ul {
  list-style-type: none;
  padding: 0px;
}
#a1 {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #ddd;
}
#a2 {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #000;
}
#a3 {
  position: absolute;
  top: 10px;
  width: 100px;
  height: 100px;
  background-color: red;
}
.product_box {
  border: 1px solid #000;
  margin: 10px;
  padding: 6px;
  border-radius: 10px;
  display: flex;
  flex-direction: row-reverse;
}
.product_img img {
  width: 200px;
  height: 200px;
}
.products_list {
  display: grid;
  grid-template-columns: auto auto auto;
}

.accordion {
  max-width: 600px;
  margin: 2rem auto;
}

.accordion-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  background-color: #21aeca;
}

.accordion-title:hover {
  background-color: #3ab4cc;
}

.accordion-title,
.accordion-content {
  padding: 1rem;
}

.accordion-content {
  background-color: #39b9d2;
}
.div-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translate(0, -50%);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.popup-Contnet {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
